
* {
    margin: 0;
}

header {
    background: red ;
    width: 100%;
    height: 200px;
}

main{
    background: yellow;
    width: 100%;
    height: 200px;
}

aside{
    background: purple;
    width: 30%;
    height: 100px;
    float: left;
    
}

section{
    background: orange;
    width: 40%;
    float: left;
    height: 100px; 
}

footer{
    background: blue;
    width: 100%;
    height: 200px;
}